<div class="container-fluid py-2 headerbg fixed-top">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6 p-1">
                <a href="/home">
                    <h1>Keshav Jha</h1>
                </a>
            </div>
            <div class="col-2">
                <div class="d-xxl-none d-xl-none d-lg-none">
                    <button class="btn" (click)="togglenav()">
                        <h1><i class="fas fa-bars"></i></h1>
                    </button>
                    <h1></h1>
                </div>
            </div>

            <div class="col-6 d-none d-xxl-block d-xl-block d-lg-block">
                <nav class="d-flex justify-content-between mt-3">
                    <a routerLink="/home" routerLinkActive="active" class="hover-underline">Home
                    </a>
                    <a routerLink="/about" routerLinkActive="active" class="hover-underline">About</a>
                    <a routerLink="/work" routerLinkActive="active" class="hover-underline">Work</a>
                    <a routerLink="/contact" routerLinkActive="active" class="hover-underline">Contact</a>
                </nav>
            </div>


        </div>
    </div>
    <div class="w-100 p-2 px-3 position-absolute top-0 mobilenav" *ngIf="navMenuShow">
        <div class="d-flex justify-content-end">
            <button class="btn" (click)="togglenav()">
                <h1><i class="fas fa-times"></i></h1>
            </button>
        </div>
        <a routerLink="/home" routerLinkActive="active" class="d-block text-center mb-2" (click)="togglenav()">Home
        </a>
        <a routerLink="/about" routerLinkActive="active" class="d-block text-center mb-2"
            (click)="togglenav()">About</a>
        <a routerLink="/work" routerLinkActive="active" class="d-block text-center mb-2" (click)="togglenav()">Work</a>
        <a routerLink="/contact" routerLinkActive="active" class="d-block text-center mb-2"
            (click)="togglenav()">Contact</a>
    </div>
</div>