<div class="container-fluid pageht homebg pb-4">
    <div class="container">
        <div class="row">
            <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 homecntnt">
                <h1 class="text-uppercase mt-4 pageheading text-center"><b>Contact</b><br>
                </h1>
                <div class="underline"></div>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-xxl-4 col-xl-4 col-lg-5 col-md-12 col-12 mb-4">
                <h2 class=""><b>Get In touch</b></h2>
                <div class="gethr"></div>
                <div class="row pt-4">
                    <div class="col-2 contcolr">
                        <h3> <i class="fas fa-phone-alt"></i></h3>
                    </div>
                    <div class="col-10">
                        <h5>+91 8285282696</h5>
                        <h5>+91 8291729050</h5>
                    </div>
                </div>
                <div class="row pt-4">
                    <div class="col-2  contcolr">
                        <h3> <i class="fas fa-envelope"></i></h3>
                    </div>
                    <div class="col-10">
                        <h5>jhakumar02@gmail.com</h5>
                    </div>
                </div>
                <div class="row pt-4">
                    <div class="col-2  contcolr">
                        <h3> <i class="fas fa-map-marker-alt"></i></h3>
                    </div>
                    <div class="col-10">
                        <h5>Delhi</h5>
                    </div>
                </div>
            </div>
            <div class="col-xxl-8 col-xl-8 col-lg-7 col-md-12 col-12 border py-4">
                <form #userForm="ngForm">
                    <p>Form is not supported by the backend right now, sorry for the inconvenience</p>
                    <div class="row justify-content-around">
                        <div class="col-xxl-5 col-xl-5 col-lg-6 col-md-6 col-12 mt-4">
                            <label class="form-label">First Name</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                placeholder="First Name">
                        </div>
                        <div class="col-xxl-5 col-xl-5 col-lg-6 col-md-6 col-12 mt-4">
                            <label class="form-label">Last Name</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                placeholder="Last Name">
                        </div>

                    </div>
                    <div class="row justify-content-around">
                        <div class="col-xxl-5 col-xl-5 col-lg-6 col-md-6 col-12 mt-4">
                            <label class="form-label">Subject</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                placeholder="Subject">
                        </div>
                        <div class="col-xxl-5 col-xl-5 col-lg-6 col-md-6 col-12 mt-4">
                            <label class="form-label">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Email address">
                        </div>
                    </div>
                    <div class="row mt-4 justify-content-around">
                        <div class="col-xxl-11 col-xl-11 col-lg-12 col-md-12 col-12">
                            <label class="form-label">Message</label>
                            <textarea class="form-control" placeholder="Message" id="exampleFormControlTextarea1"
                                rows="5"></textarea>
                        </div>
                    </div>
                    <div class="row my-4 justify-content-around">
                        <div class="col-xxl-11 col-xl-11 col-12">
                            <input type="submit" class="sendbtn btn" value="Send">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>