<div class="container-fluid pageht homebg">
    <div class="container">
        <div class="row">
            <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 homecntnt">
                <h1 class="text-uppercase mt-4 pageheading text-center"><b>Work</b><br>
                </h1>
                <div class="underline"></div>
            </div>
        </div>
        <div class="row pt-4">
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                <a href="http://the-laststraw.ca/">
                    <img src="../../assets/images/work1.png" class="img-fluid" alt="">
                </a>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                <a href="https://www.innovatebright.com/">
                    <img src="../../assets/images/work2.png" class="img-fluid" alt="">
                </a>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                <a href="http://isparex.com/">
                    <img src="../../assets/images/work3.png" class="img-fluid" alt="">
                </a>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                <a href="https://arengineeringco.tech/">
                    <img src="../../assets/images/work4.png" class="img-fluid" alt="">
                </a>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                <a href="http://rebsm.co.in/">
                    <img src="../../assets/images/work5.png" class="img-fluid" alt="">
                </a>
            </div>
        </div>
    </div>
</div>