<div class="container-fluid pageht homebg pb-5">
    <div class="container">
        <div class="row homeboxshadow mt-2 ">
            <div class="col-xxl-5 col-xl-5 col-lg-6 col-md-6 col-sm-12 col-12 p-0">
                <img src="../../assets/images/keshav.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-xxl-7 col-xl-7 col-lg-6 col-md-6 col-sm-12 col-12 homecntnt">
                <h1 class="text-center"><b>Keshav Jha</b></h1>
                <h3 class="text-center">I'm a UI/Frontend Developer</h3>
                <h5 class="mt-5 px-0 px-lg-5 cntlineht">
                    I am a UI/FrontEnd developer.
                    <br>
                    I am a fresher in Web development, but i am
                    working as a freelancer for more than one year, and I have 5 years working experience in Chemical
                    Industry. I
                    have
                    dual diploma one in the Chemical Engineering and another in FrontEnd web development.

                </h5>
                <div class="w-100 d-flex justify-content-center">
                    <a routerLink="/about" class="aboutbtn">About Me</a>
                </div>
                <div class="w-100 d-flex justify-content-center mb-3">
                    <a href="../../assets/resume/Resume.docx" class="aboutbtn">Download Resume</a>
                </div>
            </div>
        </div>
    </div>
</div>